<TXLG><SHD><CID>KT</CID><SYSID>SDP</SYSID><LT>TRANSACTION</LT><UID>null</UID><SCID>null</SCID></SHD><DHD><TXID>$txid</TXID><SEQ>1</SEQ><TS>$timestamp</TS><MT>CSM</MT><SN>pd1cmm01</SN><SIP>10.217.20.61</SIP><ON>RetrievePartyIPINCIAndDIRequestHandler</ON><MN>handleMessage</MN><PLS>686</PLS></DHD><BD><LTP>IN_REQ</LTP><RC></RC><RD></RD><EC></EC><ED></ED><PL><![CDATA[userdata]]></PL></BD></TXLG>