<TXLG><SHD><CID>KT</CID><SYSID>SDP</SYSID><LT>TRANSACTION</LT><UID>null</UID><SCID>null</SCID></SHD><DHD><TXID>${txid}</TXID><SEQ>3</SEQ><TS>${timestamp}</TS><MT>CSM</MT><SN>pd1cmm01</SN><SIP>10.217.20.61</SIP><ON>ManageWirelessAccountRequestHandler</ON><MN>handleMessage</MN><PLS>869</PLS></DHD><BD><LTP>IN_RES</LTP><RC>0</RC><RD>Success</RD><EC></EC><ED></ED><PL><![CDATA[userdata]]></PL></BD></TXLG>